@model List<Product>

<div class="sekme-content tab-content home-tab-content pt-3" id="new">
<ul class="product-lister row gutters-xsmall">
        @foreach (var item in Model)
        {
            <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
                <div class="product light-effect">
                    <div class="p-0">
                        <div class="product-img">
                            <figure>
                                <a title="@item.Name " href="/product/@item.Name/@item.Id">
                                    <img src="/GamyEpin/images/lazy-epinkasa.webp" class="lazy" data-original="/images/@item.ImageUrl" />
                                </a>
                            </figure>

                            <div class="featured" @(item.OneCikanUrun == true ? "" : "hidden")> Öne Çıkan</div>
                            <div class="showcase" @(item.Vitrin == true ? "" : "hidden")>Vitrin İlanı</div>
                            <div class="user-wrapper">
                                <div class="user-profile">
                                    <a href="/category/@item.SubCategory.Category.Name/@item.SubCategory.Category.Id/@item.SubCategoryId">
                                        <img class="lazy" data-original="/GamyEpin/uploads/category/55-kapak-62544063734589.png">
                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="@item.Name" class="kategoriyazi" href="/category/@item.SubCategory.Category.Name/@item.SubCategory.Category.Id/@item.SubCategoryId">@item.SubCategory.Name</a>
                                </div>
                            </div>
                        </div>
                        <a title="@item.Name " href="/product/@item.Name/@item.Id">
                            <div class="product-infos">
                                <div class="text-truncate">@item.Name </div>
                                <span>@item.Description</span>
                            </div>
                            <div class="product-price">
                                <div class="price">@item.Price ₺</div>
                                <div class="user-profile">
                                    <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="@item.User.UserName">
                                        <a href="/GamyEpin/profile/Reyo.html"><img class="lazy aprof" height="24px" src="/GamyEpin/images/avatar/001-gamer.png" alt="">@item.User.UserName</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

        }




@*<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="(ULTRA VİP) EFSANEVİ M" href="ilan/ultra-vip-efsanevi-mumya-cikma-ihtimalli-random-hesap/5332.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/87141963919612-kapak-23498860762593.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
 <div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="(ULTRA VİP) EFSANEVİ M" href="ilan/ultra-vip-efsanevi-mumya-cikma-ihtimalli-random-hesap/5332.html">
<div class="product-infos">
<div class="text-truncate">(ULTRA VİP) EFSANEVİ M...</div>
<span>(ULTRA VİP) EFSANEVİ MUMYA ÇIKMA İHTİMAL...</span>
</div>
<div class="product-price">
<div class="price">5.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ESATISCIM">
<a href="profile/ESATISCIM.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/12787-26064297323590.jpg" alt="">ESATISCIM</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Oyunu bırakıyorum buz " href="ilan/oyunu-birakiyorum-buz-diyarli-em4-var/5331.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/53651844596686-kapak-44039655001382.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Oyunu bırakıyorum buz " href="ilan/oyunu-birakiyorum-buz-diyarli-em4-var/5331.html">
<div class="product-infos">
<div class="text-truncate">Oyunu bırakıyorum buz ...</div>
<span>...</span>
</div>
<div class="product-price">
<div class="price">10.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Cio565">
<a href="profile/Cio565.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Cio565</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="SATILIK PUBG KORE HESA" href="ilan/satilik-pubg-kore-hesabi/5330.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/23195059512802-kapak-58249570182898.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="SATILIK PUBG KORE HESA" href="ilan/satilik-pubg-kore-hesabi/5330.html">
<div class="product-infos">
<div class="text-truncate">SATILIK PUBG KORE HESA...</div>
<span>1 YUKSETILE BILIR M24 3 DESTANSI VE BIRD...</span>
</div>
<div class="product-price">
<div class="price">50.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Man21">
<a href="profile/Man21.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/4916-43798234201911.png" alt="">Man21</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="1 TL RANDOM HESAP,ŞANS" href="ilan/1-tl-random-hesap-sans-kasasidir-etkinlik-urunudur-giris-garantisi-verilmez/5329.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/28637403321772-kapak-16096963435540.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="1 TL RANDOM HESAP,ŞANS" href="ilan/1-tl-random-hesap-sans-kasasidir-etkinlik-urunudur-giris-garantisi-verilmez/5329.html">
<div class="product-infos">
<div class="text-truncate">1 TL RANDOM HESAP,ŞANS...</div>
<span>ETKINLIK URUNUDUR SADECE 1 ADET ALINIZ,E...</span>
</div>
<div class="product-price">
<div class="price">1.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Man21">
<a href="profile/Man21.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/4916-43798234201911.png" alt="">Man21</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="RANDOM HESAP 2 TL VİP " href="ilan/random-hesap-2-tl-vip-sans-kasasi/5328.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/13828766688455-kapak-74302779733123.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
 <div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="RANDOM HESAP 2 TL VİP " href="ilan/random-hesap-2-tl-vip-sans-kasasi/5328.html">
<div class="product-infos">
<div class="text-truncate">RANDOM HESAP 2 TL VİP ...</div>
<span>KASASI ŞANS KASA RANDOM HESAPLAR İLANINA...</span>
</div>
<div class="product-price">
<div class="price">1.99 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Stilsatis">
<a href="profile/Stilsatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/3707-18804678481736.png" alt="">Stilsatis</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="FULL+FULL 20 DESTANSI " href="ilan/full-full-20-destansi-2-sezon-fatih-essiz-basari/5326.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/69052227647639-kapak-30513451198296.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="FULL+FULL 20 DESTANSI " href="ilan/full-full-20-destansi-2-sezon-fatih-essiz-basari/5326.html">
<div class="product-infos">
<div class="text-truncate">FULL+FULL 20 DESTANSI ...</div>
<span>Hesap tanıtımını bu linkten izliyebilirs...</span>
</div>
<div class="product-price">
<div class="price">410.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ZvDx997">
<a href="profile/ZvDx997.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">ZvDx997</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="GİRİŞ GARANTİLİ 5 TL M" href="ilan/giris-garantili-5-tl-mumya-firavun-7-level-hesap-gelebilir/5325.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/58155084816156-kapak-91156471813708.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="GİRİŞ GARANTİLİ 5 TL M" href="ilan/giris-garantili-5-tl-mumya-firavun-7-level-hesap-gelebilir/5325.html">
<div class="product-infos">
<div class="text-truncate">GİRİŞ GARANTİLİ 5 TL M...</div>
<span>GİRİŞ GARANTİLİ 5 TL MUMYA FİRAVUN 7 LEV...</span>
</div>
<div class="product-price">
<div class="price">5.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ESATISCIM">
<a href="profile/ESATISCIM.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/12787-26064297323590.jpg" alt="">ESATISCIM</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="(MEGA VİP) MUMYA FİRAV" href="ilan/mega-vip-mumya-firavun-buz-diyari-7-level-hesap-cikabilir/5324.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/39009207302230-kapak-42019872151054.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="(MEGA VİP) MUMYA FİRAV" href="ilan/mega-vip-mumya-firavun-buz-diyari-7-level-hesap-cikabilir/5324.html">
<div class="product-infos">
<div class="text-truncate">(MEGA VİP) MUMYA FİRAV...</div>
<span>(MEGA VİP) MUMYA FİRAVUN BUZ DİYARI 7 LE...</span>
</div>
<div class="product-price">
<div class="price">5.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ESATISCIM">
<a href="profile/ESATISCIM.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/12787-26064297323590.jpg" alt="">ESATISCIM</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="PUMG MOBİLE" href="ilan/pumg-mobile/5323.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/98719316951106-kapak-34984450815406.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="PUMG MOBİLE" href="ilan/pumg-mobile/5323.html">
<div class="product-infos">
<div class="text-truncate">PUMG MOBİLE...</div>
<span>Çalıntı değil içinde 300 uc da var 250 T...</span>
</div>
<div class="product-price">
<div class="price">270.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Wwwww">
<a href="profile/Wwwww.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Wwwww</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Son zamanların en çok " href="ilan/son-zamanlarin-en-cok-satilan-random-hesaplardan/5322.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/60280374588309-kapak-28283886301947.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Son zamanların en çok " href="ilan/son-zamanlarin-en-cok-satilan-random-hesaplardan/5322.html">
<div class="product-infos">
<div class="text-truncate">Son zamanların en çok ...</div>
<span>Yeni bir hesapla daha karşınızdayız arka...</span>
</div>
<div class="product-price">
<div class="price">89.99 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Ceyhunc67">
<a href="profile/Ceyhunc67.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Ceyhunc67</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Destanı ve buz diyarı " href="ilan/destani-ve-buz-diyari-sans-i-yakalanin-belki-tam-zamani/5320.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/88287419653503-kapak-94716660664891.jpg" />
</a>
</figure>
<div class="user-wrapper">
 <div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Destanı ve buz diyarı " href="ilan/destani-ve-buz-diyari-sans-i-yakalanin-belki-tam-zamani/5320.html">
<div class="product-infos">
<div class="text-truncate">Destanı ve buz diyarı ...</div>
<span>PUBG MOBİLE VİP BRONZ RANDOM HESAP ADLI ...</span>
</div>
<div class="product-price">
<div class="price">65.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Ceyhunc67">
<a href="profile/Ceyhunc67.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Ceyhunc67</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Pubg hesap" href="ilan/pubg-hesap/5318.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/67406439521193-kapak-39027338936983.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
 </div></div>
<a title="Pubg hesap" href="ilan/pubg-hesap/5318.html">
<div class="product-infos">
<div class="text-truncate">Pubg hesap...</div>
<span>Ramazan ayına özel mumya ve destansı gös...</span>
</div>
<div class="product-price">
<div class="price">10.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="smolew13">
<a href="profile/smolew13.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">smolew13</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Destansı hesap" href="ilan/destansi-hesap/5317.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/25798128326285-kapak-28286340687927.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Destansı hesap" href="ilan/destansi-hesap/5317.html">
<div class="product-infos">
<div class="text-truncate">Destansı hesap...</div>
<span>En uygun pubg hesabı ...</span>
</div>
<div class="product-price">
<div class="price">1200.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Crozy21">
<a href="profile/Crozy21.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Crozy21</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="⭐ULTRA VIP RANDOM HESA" href="ilan/ultra-vip-random-hesap-giris-garantili/5315.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/49820815604672-kapak-16167994851923.png" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/valorant-random-hesap/407/1.html">
<img class="lazy" data-original="uploads/category/407-kapak-68266194950691.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="Valorant Random Hesap" class="kategoriyazi" href="category/valorant-random-hesap/407/1.html">Valorant Random Hesap</a>
</div>
</div></div>
<a title="⭐ULTRA VIP RANDOM HESA" href="ilan/ultra-vip-random-hesap-giris-garantili/5315.html">
<div class="product-infos">
<div class="text-truncate">⭐ULTRA VIP RANDOM HESA...</div>
<span>HESAPLARIMIZ KALİTELİ HESAPLARDIR EN AZ ...</span>
</div>
<div class="product-price">
<div class="price">14.99 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="esatis">
<a href="profile/esatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/14770-10617472009364.jpg" alt="">esatis</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="RANDOM HESAP 1 TL ŞANS" href="ilan/random-hesap-1-tl-sans-kasasi/5314.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/95487243975766-kapak-78815212240721.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/valorant-random-hesap/407/1.html">
<img class="lazy" data-original="uploads/category/407-kapak-68266194950691.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="Valorant Random Hesap" class="kategoriyazi" href="category/valorant-random-hesap/407/1.html">Valorant Random Hesap</a>
</div>
</div></div>
<a title="RANDOM HESAP 1 TL ŞANS" href="ilan/random-hesap-1-tl-sans-kasasi/5314.html">
<div class="product-infos">
<div class="text-truncate">RANDOM HESAP 1 TL ŞANS...</div>
<span>KASASI ŞANS KASA RANDOM HESAPLAR İLANINA...</span>
</div>
<div class="product-price">
<div class="price">1.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Stilsatis">
<a href="profile/Stilsatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/3707-18804678481736.png" alt="">Stilsatis</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="PSX 10b gems  " href="ilan/psx-10b-gems/5312.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/52859367056421-kapak-65394962124245.png" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/roblox-item/412/1.html">
<img class="lazy" data-original="index.html">
</a>
<a data-toggle="tooltip" data-placement="top" title="Roblox item" class="kategoriyazi" href="category/roblox-item/412/1.html">Roblox item</a>
</div>
</div></div>
<a title="PSX 10b gems  " href="ilan/psx-10b-gems/5312.html">
<div class="product-infos">
<div class="text-truncate">PSX 10b gems ...</div>
<span>gift olarak 10b gems yollanır aldıktan s...</span>
</div>
<div class="product-price">
<div class="price">20.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Floster">
<a href="profile/Floster.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Floster</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Pubg mobil random hesa" href="ilan/pubg-mobil-random-hesap-satisi/5309.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/89427839235070-kapak-24909481450569.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Pubg mobil random hesa" href="ilan/pubg-mobil-random-hesap-satisi/5309.html">
<div class="product-infos">
<div class="text-truncate">Pubg mobil random hesa...</div>
<span>EFSANE HESAPLARLA GELDİK!!!1sv-70 sv HES...</span>
</div>
<div class="product-price">
<div class="price">10.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="coolpubg4563">
<a href="profile/coolpubg4563.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">coolpubg4563</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="3TL random pubg" href="ilan/3tl-random-pubg/5308.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/10127732226912-kapak-78683224699047.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="3TL random pubg" href="ilan/3tl-random-pubg/5308.html">
<div class="product-infos">
<div class="text-truncate">3TL random pubg...</div>
<span>Hesaplar randomdur
giriş garantisi yokt...</span>
</div>
<div class="product-price">
<div class="price">3.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Mortal">
<a href="profile/Mortal.html"><img class="lazy aprof" height="24px" src="images/avatar/003-knight.png" alt="">Mortal</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Tiktok gerçek izlenme " href="ilan/tiktok-gercek-izlenme/5307.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/53782180129417-kapak-66795824055400.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/tiktok/289/1.html">
<img class="lazy" data-original="uploads/category/289-kapak-36376295742840.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="TikTok" class="kategoriyazi" href="category/tiktok/289/1.html">TikTok</a>
</div>
</div></div>
<a title="Tiktok gerçek izlenme " href="ilan/tiktok-gercek-izlenme/5307.html">
<div class="product-infos">
<div class="text-truncate">Tiktok gerçek izlenme ...</div>
<span>Merhaba tiktok 500 izlenme anında atılır...</span>
</div>
<div class="product-price">
<div class="price">1.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="coolpubg4563">
<a href="profile/coolpubg4563.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">coolpubg4563</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
 <div class="p-0">
<div class="product-img">
<figure>
<a title="Pubg mobile random hes" href="ilan/pubg-mobile-random-hesaplar-acklamay-oku/5306.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/89484269369530-kapak-90202405176965.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Pubg mobile random hes" href="ilan/pubg-mobile-random-hesaplar-acklamay-oku/5306.html">
<div class="product-infos">
<div class="text-truncate">Pubg mobile random hes...</div>
<span>Pubg mobile bronz random hesaplarına hoş...</span>
</div>
<div class="product-price">
<div class="price">2.50 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Jesterrrr">
<a href="profile/Jesterrrr.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/8831-83909066726354.jpg" alt="">Jesterrrr</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="10 TL RANDOM HESAP" href="ilan/10-tl-random-hesap/5305.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/65949779054328-kapak-46976130011437.jpg" />
 </a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="10 TL RANDOM HESAP" href="ilan/10-tl-random-hesap/5305.html">
<div class="product-infos">
<div class="text-truncate">10 TL RANDOM HESAP...</div>
<span>10 TL RANDOM HESAP BU HESAPLARDA DESTANS...</span>
</div>
<div class="product-price">
<div class="price">10.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="GuveniliriZZ">
<a href="profile/GuveniliriZZ.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">GuveniliriZZ</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="KASASI ŞANS KASA RANDO" href="ilan/kasasi-sans-kasa-random-hesaplar-ilanina-hosgeldiniz-giris-garantisi-yoktur/5303.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/98077187022689-kapak-92747955362909.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/hesap-sat/207/1.html">
<img class="lazy" data-original="uploads/category/207-kapak-25039536825833.jpg">
</a>
<a data-toggle="tooltip" data-placement="top" title="Hesap Satışı" class="kategoriyazi" href="category/hesap-sat/207/1.html">Hesap Satışı</a>
</div>
</div></div>
<a title="KASASI ŞANS KASA RANDO" href="ilan/kasasi-sans-kasa-random-hesaplar-ilanina-hosgeldiniz-giris-garantisi-yoktur/5303.html">
<div class="product-infos">
<div class="text-truncate">KASASI ŞANS KASA RANDO...</div>
<span>Öncelikle merhaba Wolfteam random hesap ...</span>
</div>
<div class="product-price">
<div class="price">1.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="coolpubg4563">
<a href="profile/coolpubg4563.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">coolpubg4563</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="VIP DEMİR RANDOM HESAP" href="ilan/vip-demir-random-hesaplar/5302.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/73493405238044-kapak-57573014336531.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="VIP DEMİR RANDOM HESAP" href="ilan/vip-demir-random-hesaplar/5302.html">
<div class="product-infos">
<div class="text-truncate">VIP DEMİR RANDOM HESAP...</div>
<span>PUBG MOBİLE VIP DEMİR RANDOM HESAPLAR İL...</span>
</div>
<div class="product-price">
<div class="price">10.00 ₺</div>
 <div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Alivvj">
<a href="profile/Alivvj.html"><img class="lazy aprof" height="24px" src="images/avatar/003-knight.png" alt="">Alivvj</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="RANDOM HESAP 1 TL ŞANS" href="ilan/random-hesap-1-tl-sans-kasasi-kasasi/5301.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/46873648825685-kapak-93436215237162.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/hesap/225/1.html">
<img class="lazy" data-original="uploads/category/225-kapak-66295517917790.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="Hesap " class="kategoriyazi" href="category/hesap/225/1.html">Hesap </a>
</div>
</div></div>
<a title="RANDOM HESAP 1 TL ŞANS" href="ilan/random-hesap-1-tl-sans-kasasi-kasasi/5301.html">
<div class="product-infos">
<div class="text-truncate">RANDOM HESAP 1 TL ŞANS...</div>
<span>RANDOM HESAP 1 TL ŞANS KASASI
KASASI ŞA...</span>
</div>
<div class="product-price">
<div class="price">1.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Alivvj">
<a href="profile/Alivvj.html"><img class="lazy aprof" height="24px" src="images/avatar/003-knight.png" alt="">Alivvj</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Pubg Mobile hesap-bu f" href="ilan/pubg-mobile-hesap-bu-fiyata-esi-benzeri-yok/5299.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/49356393512115-kapak-56573568360661.jpg" />
</a>
</figure>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Pubg Mobile hesap-bu f" href="ilan/pubg-mobile-hesap-bu-fiyata-esi-benzeri-yok/5299.html">
<div class="product-infos">
<div class="text-truncate">Pubg Mobile hesap-bu f...</div>
<span>43 destansı 6 yükseltilebilir maskara 4 ...</span>
</div>
<div class="product-price">
<div class="price">5000.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Broody">
<a href="profile/Broody.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Broody</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="Random hesap" href="ilan/random-hesap/5298.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/15762963959862-kapak-64070080266578.jpg" />
</a>
</figure>
 <div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="Random hesap" href="ilan/random-hesap/5298.html">
<div class="product-infos">
<div class="text-truncate">Random hesap...</div>
<span>Random hesaplar güvenceli 15 liralık hes...</span>
</div>
<div class="product-price">
<div class="price">15.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="SeydoAm31">
<a href="profile/SeydoAm31.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">SeydoAm31</a>
</div>
</div>
</div></a>
</div>
</div>
</li>
<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
<div class="product light-effect">
<div class="p-0">
<div class="product-img">
<figure>
<a title="10 TL YE FULL + FULL R" href="ilan/10-tl-ye-full-full-random/5295.html">
<img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/52818479464144-kapak-34560278047509.jpg" />
</a>
</figure>
<div class="featured">Öne Çıkan</div>
<div class="showcase">Vitrin İlanı</div>
<div class="user-wrapper">
<div class="user-profile">
<a href="category/pubg-mobile-hesap-satisi/55/1.html">
<img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
</a>
<a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
</div>
</div></div>
<a title="10 TL YE FULL + FULL R" href="ilan/10-tl-ye-full-full-random/5295.html">
<div class="product-infos">
<div class="text-truncate">10 TL YE FULL + FULL R...</div>
<span>Hesapların çoğu yüksektir ve aralarında ...</span>
</div>
<div class="product-price">
<div class="price">10.00 ₺</div>
<div class="user-profile">
<div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Leyla123">
<a href="profile/Leyla123.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Leyla123</a>
</div>
</div>
</div></a>
</div>
</div>
</li>*@
</ul>
</div>
