@model List<Product>
<div class="sekme-content tab-content home-tab-content pt-3 ilktab" id="popular">
    <ul class="product-lister row gutters-xsmall">
        @foreach (var item in Model)
        {
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                                <a title="@item.Name " href="/product/@item.Name/@item.Id">
                                    <img src="/GamyEpin/images/lazy-epinkasa.webp" class="lazy" data-original="/GamyEpin/uploads/advert/minimum/44237592027245-kapak-35657470103571.jpg" />
                            </a>
                        </figure>

                            <div class="featured" @(item.OneCikanUrun == true ? "" : "hidden")> Öne Çıkan</div>
                            <div class="showcase" @(item.Vitrin == true ? "" : "hidden")>Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                    <a href="/category/@item.SubCategory.Category.Name/@item.SubCategory.Category.Id/@item.SubCategoryId">
                                        <img class="lazy" data-original="/GamyEpin/uploads/category/55-kapak-62544063734589.png">
                                </a>
                                    <a data-toggle="tooltip" data-placement="top" title="@item.Name" class="kategoriyazi" href="/category/@item.SubCategory.Category.Name/@item.SubCategory.Category.Id/@item.SubCategoryId">@item.SubCategory.Name</a>
                            </div>
                        </div>
                    </div>
                        <a title="@item.Name " href="/product/@item.Name/@item.Id">
                        <div class="product-infos">
                                <div class="text-truncate">@item.Name </div>
                                <span>@item.Description</span>
                        </div>
                        <div class="product-price">
                            <div class="price">@item.Price ₺</div>
                            <div class="user-profile">
                                    <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="@item.User.UserName">
                                    <a href="/GamyEpin/profile/Reyo.html"><img class="lazy aprof" height="24px" src="/GamyEpin/images/avatar/001-gamer.png" alt="">@item.User.UserName</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
            
        }
        @*<li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="RANDOM HESAP " href="ilan/random-hesap/4464.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/44237592027245-kapak-35657470103571.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="RANDOM HESAP " href="ilan/random-hesap/4464.html">
                        <div class="product-infos">
                            <div class="text-truncate">RANDOM HESAP ...</div>
                            <span>RANDOM HESAP BUZ DİYARI ÇIKMA ŞANSINI KA...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">250.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Reyo">
                                    <a href="profile/Reyo.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Reyo</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="Random hesap adresi" href="ilan/random-hesap-adresi/4499.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/40621609001612-kapak-58298280581501.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/valorant-random-hesap/407/1.html">
                                    <img class="lazy" data-original="uploads/category/407-kapak-68266194950691.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Valorant Random Hesap" class="kategoriyazi" href="category/valorant-random-hesap/407/1.html">Valorant Random Hesap</a>
                            </div>
                        </div>
                    </div>
                    <a title="Random hesap adresi" href="ilan/random-hesap-adresi/4499.html">
                        <div class="product-infos">
                            <div class="text-truncate">Random hesap adresi...</div>
                            <span>
                                Efsane Valorant hesapları 
                                sağlam ve ka...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Mhyt11">
                                    <a href="profile/Mhyt11.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Mhyt11</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="(ULTRA VİP) EFSANEVİ M" href="ilan/ultra-vip-efsanevi-mumya-cikma-ihtimalli-random-hesap/5290.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/87044261287113-kapak-26304329405313.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="(ULTRA VİP) EFSANEVİ M" href="ilan/ultra-vip-efsanevi-mumya-cikma-ihtimalli-random-hesap/5290.html">
                        <div class="product-infos">
                            <div class="text-truncate">(ULTRA VİP) EFSANEVİ M...</div>
                            <span>(ULTRA VİP) EFSANEVİ MUMYA ÇIKMA İHTİMAL...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ESATISCIM">
                                    <a href="profile/ESATISCIM.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/12787-26064297323590.jpg" alt="">ESATISCIM</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="%100TR [BIÇAKLI] ULTRA" href="ilan/100tr-bicakli-ultra-vip-50-300-skin-random/4015.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/40797764089698-kapak-74013144602829.png" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/valorant-random-hesap/407/1.html">
                                    <img class="lazy" data-original="uploads/category/407-kapak-68266194950691.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Valorant Random Hesap" class="kategoriyazi" href="category/valorant-random-hesap/407/1.html">Valorant Random Hesap</a>
                            </div>
                        </div>
                    </div>
                    <a title="%100TR [BIÇAKLI] ULTRA" href="ilan/100tr-bicakli-ultra-vip-50-300-skin-random/4015.html">
                        <div class="product-infos">
                            <div class="text-truncate">%100TR [BIÇAKLI] ULTRA...</div>
                            <span>SINIRLI STOK!!!! Random HESAPLARDA KESİN...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">45.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="mclovin">
                                    <a href="profile/mclovin.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">mclovin</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="[BIÇAKLI] %100 TR 100-" href="ilan/bicakli-100-tr-100-300-ejder-asil-yagmaci/4367.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/59122718317245-kapak-59550449512931.png" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/valorant-random-hesap/407/1.html">
                                    <img class="lazy" data-original="uploads/category/407-kapak-68266194950691.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Valorant Random Hesap" class="kategoriyazi" href="category/valorant-random-hesap/407/1.html">Valorant Random Hesap</a>
                            </div>
                        </div>
                    </div>
                    <a title="[BIÇAKLI] %100 TR 100-" href="ilan/bicakli-100-tr-100-300-ejder-asil-yagmaci/4367.html">
                        <div class="product-infos">
                            <div class="text-truncate">[BIÇAKLI] %100 TR 100-...</div>
                            <span>SINIRLI STOK!!!! Random HESAPLARDA KESİN...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">75.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="mclovin">
                                    <a href="profile/mclovin.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">mclovin</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="10 TL RANDOM HESAP " href="ilan/10-tl-random-hesap/3180.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/27528242400604-kapak-40240429740174.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/hesap/227/1.html">
                                    <img class="lazy" data-original="uploads/category/227-kapak-72500670338746.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Hesap " class="kategoriyazi" href="category/hesap/227/1.html">Hesap </a>
                            </div>
                        </div>
                    </div>
                    <a title="10 TL RANDOM HESAP " href="ilan/10-tl-random-hesap/3180.html">
                        <div class="product-infos">
                            <div class="text-truncate">10 TL RANDOM HESAP ...</div>
                            <span>5 HESAPTAN 2 DESTANSI + MUMYA + KERTENKE...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">10.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ayberkozk01">
                                    <a href="profile/ayberkozk01.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">ayberkozk01</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="PUBG MOBİLE VİP GOLD 5" href="ilan/pubg-mobile-vip-gold-50-stoklu-vip-random-hesap/5069.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/92718808617240-kapak-74731554550015.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="PUBG MOBİLE VİP GOLD 5" href="ilan/pubg-mobile-vip-gold-50-stoklu-vip-random-hesap/5069.html">
                        <div class="product-infos">
                            <div class="text-truncate">PUBG MOBİLE VİP GOLD 5...</div>
                            <span>PUBG MOBİLE VİP RANDOM HESABA HOŞGELDİNİ...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">2.50 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="esatis">
                                    <a href="profile/esatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/14770-10617472009364.jpg" alt="">esatis</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="3000 İnstagram Takipçi" href="ilan/3000-instagram-takipci-telafili/4863.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/21182155045534-kapak-85068053879997.png" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/instagram-hesap-satisi/281/1.html">
                                    <img class="lazy" data-original="uploads/category/281-kapak-30168585002601.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="instagram" class="kategoriyazi" href="category/instagram-hesap-satisi/281/1.html">instagram</a>
                            </div>
                        </div>
                    </div>
                    <a title="3000 İnstagram Takipçi" href="ilan/3000-instagram-takipci-telafili/4863.html">
                        <div class="product-infos">
                            <div class="text-truncate">3000 İnstagram Takipçi...</div>
                            <span>
                                3000 İnstagram takipçi
                                Takipçiler Tel...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">10.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="valorantime">
                                    <a href="profile/valorantime.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/4753-59056127494021.png" alt="">valorantime</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="Pubg Mobile | 5 Tl Ran" href="ilan/pubg-mobile-5-tl-random/3658.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/23154604224835-kapak-92295106887403.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="Pubg Mobile | 5 Tl Ran" href="ilan/pubg-mobile-5-tl-random/3658.html">
                        <div class="product-infos">
                            <div class="text-truncate">Pubg Mobile | 5 Tl Ran...</div>
                            <span>
                                Hesaplar Tamamen sansınıza baglıdır
                                gir...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Muracalin21">
                                    <a href="profile/Muracalin21.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Muracalin21</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="TAKİPÇİ PANEL" href="ilan/takipci-panel/4587.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/45283149984493-kapak-31355797000864.jpg" />
                            </a>
                        </figure>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/instagram-hesap-satisi/281/1.html">
                                    <img class="lazy" data-original="uploads/category/281-kapak-30168585002601.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="instagram" class="kategoriyazi" href="category/instagram-hesap-satisi/281/1.html">instagram</a>
                            </div>
                        </div>
                    </div>
                    <a title="TAKİPÇİ PANEL" href="ilan/takipci-panel/4587.html">
                        <div class="product-infos">
                            <div class="text-truncate">TAKİPÇİ PANEL...</div>
                            <span>
                                INSTAGRAM TAKİPÇİ HİLESİ
                                1K TAKİPÇİ S...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">8.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="hesabalan1">
                                    <a href="profile/hesabalan1.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/11494-93524245981903.png" alt="">hesabalan1</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="7 TL RANDOM HESAP GİRİ" href="ilan/7-tl-random-hesap-giris-garantilidir-7-seviye-buz-m4-cikartma-sansi-yuksektir/3086.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/25587042718085-kapak-82416829408350.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="7 TL RANDOM HESAP GİRİ" href="ilan/7-tl-random-hesap-giris-garantilidir-7-seviye-buz-m4-cikartma-sansi-yuksektir/3086.html">
                        <div class="product-infos">
                            <div class="text-truncate">7 TL RANDOM HESAP GİRİ...</div>
                            <span>
                                %50 DESTANSI OLASILIGI SON 20 HESAPDA...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">7.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ayberkozk01">
                                    <a href="profile/ayberkozk01.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">ayberkozk01</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="VIP DEMİR RANDOM HESAP" href="ilan/vip-demir-random-hesaplar/5243.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/19690901116903-kapak-97520282235845.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="VIP DEMİR RANDOM HESAP" href="ilan/vip-demir-random-hesaplar/5243.html">
                        <div class="product-infos">
                            <div class="text-truncate">VIP DEMİR RANDOM HESAP...</div>
                            <span>PUBG MOBİLE VIP DEMİR RANDOM HESAPLAR İL...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">10.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Cheapstore">
                                    <a href="profile/Cheapstore.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/1829-28331982057636.jpg" alt="">Cheapstore</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="5 TL RANDOM" href="ilan/5-tl-random/2223.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/21492881075656-kapak-28603343252180.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="5 TL RANDOM" href="ilan/5-tl-random/2223.html">
                        <div class="product-infos">
                            <div class="text-truncate">5 TL RANDOM...</div>
                            <span>Merhabalar. 5 TL random hesap satışımızd...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="BigShop">
                                    <a href="profile/BigShop.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">BigShop</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="RANDOM HESAP 1 TL ŞANS" href="ilan/random-hesap-1-tl-sans-kasasi/5281.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/25484616786966-kapak-49351670436742.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="RANDOM HESAP 1 TL ŞANS" href="ilan/random-hesap-1-tl-sans-kasasi/5281.html">
                        <div class="product-infos">
                            <div class="text-truncate">RANDOM HESAP 1 TL ŞANS...</div>
                            <span>
                                KASASI
                                ŞANS KASA RANDOM HESAPLAR İLANIN...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">1.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Stilsatis">
                                    <a href="profile/Stilsatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/3707-18804678481736.png" alt="">Stilsatis</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="6 TL RANDOM HESAP %95 " href="ilan/6-tl-random-hesap-95-destansi-olasiligi-giris-garantilidir-7-seviye-buz-m4-cikartma-sansi-yuksektir/3092.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/36340999735858-kapak-10829874631423.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="6 TL RANDOM HESAP %95 " href="ilan/6-tl-random-hesap-95-destansi-olasiligi-giris-garantilidir-7-seviye-buz-m4-cikartma-sansi-yuksektir/3092.html">
                        <div class="product-infos">
                            <div class="text-truncate">6 TL RANDOM HESAP %95 ...</div>
                            <span>
                                Resimdeki 4 Hesapdan Biri Sizlerle Be...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">6.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ayberkozk01">
                                    <a href="profile/ayberkozk01.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">ayberkozk01</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="25 TL DOLU HESAP GARAN" href="ilan/25-tl-dolu-hesap-garantili-giris-garantilidir-7-seviye-buz-diyari-m4-cikartma-sansi-yuksektir/3220.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/75574172397377-kapak-14095958400350.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="25 TL DOLU HESAP GARAN" href="ilan/25-tl-dolu-hesap-garantili-giris-garantilidir-7-seviye-buz-diyari-m4-cikartma-sansi-yuksektir/3220.html">
                        <div class="product-infos">
                            <div class="text-truncate">25 TL DOLU HESAP GARAN...</div>
                            <span>
                                25 TL YE DOLU HESAP GARANTİLİ HESAPLA...
                            </span>
                        </div>
                        <div class="product-price">
                            <div class="price">25.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ayberkozk01">
                                    <a href="profile/ayberkozk01.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">ayberkozk01</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="PUBG MOBİLE VİP ELİT R" href="ilan/pubg-mobile-vip-elit-random-hesap/5293.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/65072653832778-kapak-55849611935408.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="PUBG MOBİLE VİP ELİT R" href="ilan/pubg-mobile-vip-elit-random-hesap/5293.html">
                        <div class="product-infos">
                            <div class="text-truncate">PUBG MOBİLE VİP ELİT R...</div>
                            <span>PUBG MOBİLE VİP ELİT RANDOM HESAP ADLI İ...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">9.99 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Stilsatis">
                                    <a href="profile/Stilsatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/3707-18804678481736.png" alt="">Stilsatis</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="10 TL YE FULL + FULL R" href="ilan/10-tl-ye-full-full-random/5295.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/52818479464144-kapak-34560278047509.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="10 TL YE FULL + FULL R" href="ilan/10-tl-ye-full-full-random/5295.html">
                        <div class="product-infos">
                            <div class="text-truncate">10 TL YE FULL + FULL R...</div>
                            <span>Hesapların çoğu yüksektir ve aralarında ...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">10.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Leyla123">
                                    <a href="profile/Leyla123.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">Leyla123</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="(MEGA VİP) MUMYA FİRAV" href="ilan/mega-vip-mumya-firavun-buz-diyari-7-level-hesap-cikabilir/5324.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/39009207302230-kapak-42019872151054.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="(MEGA VİP) MUMYA FİRAV" href="ilan/mega-vip-mumya-firavun-buz-diyari-7-level-hesap-cikabilir/5324.html">
                        <div class="product-infos">
                            <div class="text-truncate">(MEGA VİP) MUMYA FİRAV...</div>
                            <span>(MEGA VİP) MUMYA FİRAVUN BUZ DİYARI 7 LE...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ESATISCIM">
                                    <a href="profile/ESATISCIM.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/12787-26064297323590.jpg" alt="">ESATISCIM</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="25 TL RANDOM" href="ilan/25-tl-random/2220.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/65598184096258-kapak-65544739086656.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="25 TL RANDOM" href="ilan/25-tl-random/2220.html">
                        <div class="product-infos">
                            <div class="text-truncate">25 TL RANDOM...</div>
                            <span>Merhabalar. 25 TL random hesap satışımız...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">25.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="BigShop">
                                    <a href="profile/BigShop.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">BigShop</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="FİRAVUN SET ÇIKARMA ŞA" href="ilan/firavun-set-cikarma-sansii/4800.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/68072460960814-kapak-86604531634898.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="FİRAVUN SET ÇIKARMA ŞA" href="ilan/firavun-set-cikarma-sansii/4800.html">
                        <div class="product-infos">
                            <div class="text-truncate">FİRAVUN SET ÇIKARMA ŞA...</div>
                            <span>PUBG MOBİLE DEMİR VİP RANDOM HESAPLAR İL...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="AztekStore">
                                    <a href="profile/AztekStore.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/11497-25770863521866.jpg" alt="">AztekStore</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="INSTAGRAM 2000 TAKİPÇİ" href="ilan/instagram-2000-takipci/2860.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/38428131969391-kapak-56803683700859.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/instagram-hesap-satisi/281/1.html">
                                    <img class="lazy" data-original="uploads/category/281-kapak-30168585002601.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="instagram" class="kategoriyazi" href="category/instagram-hesap-satisi/281/1.html">instagram</a>
                            </div>
                        </div>
                    </div>
                    <a title="INSTAGRAM 2000 TAKİPÇİ" href="ilan/instagram-2000-takipci/2860.html">
                        <div class="product-infos">
                            <div class="text-truncate">INSTAGRAM 2000 TAKİPÇİ...</div>
                            <span>Merhabalar. Her türlü takipçi satışlarım...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">17.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="BigShop">
                                    <a href="profile/BigShop.html"><img class="lazy aprof" height="24px" src="images/avatar/012-character.png" alt="">BigShop</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="PUBG MOBİLE V.İ.P RAND" href="ilan/pubg-mobile-v-i-p-random-hesaplar-sinirli-stoklarrr/5205.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/85346566260974-kapak-30829553229288.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="PUBG MOBİLE V.İ.P RAND" href="ilan/pubg-mobile-v-i-p-random-hesaplar-sinirli-stoklarrr/5205.html">
                        <div class="product-infos">
                            <div class="text-truncate">PUBG MOBİLE V.İ.P RAND...</div>
                            <span>✔️ Pubg mobil Oynamak istiyorsanız şimdi...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">4.95 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="CheapMan">
                                    <a href="profile/CheapMan.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/11519-91421454349404.png" alt="">CheapMan</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="Pubg mobile random hes" href="ilan/pubg-mobile-random-hesaplar-acklamay-oku/5306.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/89484269369530-kapak-90202405176965.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="Pubg mobile random hes" href="ilan/pubg-mobile-random-hesaplar-acklamay-oku/5306.html">
                        <div class="product-infos">
                            <div class="text-truncate">Pubg mobile random hes...</div>
                            <span>Pubg mobile bronz random hesaplarına hoş...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">2.50 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Jesterrrr">
                                    <a href="profile/Jesterrrr.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/8831-83909066726354.jpg" alt="">Jesterrrr</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="GİRİŞ GARANTİLİ 5 TL M" href="ilan/giris-garantili-5-tl-mumya-firavun-7-level-hesap-gelebilir/5325.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/58155084816156-kapak-91156471813708.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="GİRİŞ GARANTİLİ 5 TL M" href="ilan/giris-garantili-5-tl-mumya-firavun-7-level-hesap-gelebilir/5325.html">
                        <div class="product-infos">
                            <div class="text-truncate">GİRİŞ GARANTİLİ 5 TL M...</div>
                            <span>GİRİŞ GARANTİLİ 5 TL MUMYA FİRAVUN 7 LEV...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">5.00 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="ESATISCIM">
                                    <a href="profile/ESATISCIM.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/12787-26064297323590.jpg" alt="">ESATISCIM</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="BUZ DİYARI + MUMYA SET" href="ilan/buz-diyari-mumya-set-cikarma-sansi/4816.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/76407402677105-kapak-72711370147415.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="BUZ DİYARI + MUMYA SET" href="ilan/buz-diyari-mumya-set-cikarma-sansi/4816.html">
                        <div class="product-infos">
                            <div class="text-truncate">BUZ DİYARI + MUMYA SET...</div>
                            <span>PUBG MOBİLE DEMİR VİP RANDOM HESAPLAR İL...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">2.50 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="FastMan">
                                    <a href="profile/FastMan.html"><img class="lazy aprof" height="24px" src="images/avatar/001-gamer.png" alt="">FastMan</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 mobil-boyut" style="flex: 0 0 14.276667%; max-width: 14.276667%;">
            <div class="product light-effect">
                <div class="p-0">
                    <div class="product-img">
                        <figure>
                            <a title="RANDOM HESAP 2 TL VİP " href="ilan/random-hesap-2-tl-vip-sans-kasasi/5328.html">
                                <img src="images/lazy-epinkasa.webp" class="lazy" data-original="uploads/advert/minimum/13828766688455-kapak-74302779733123.jpg" />
                            </a>
                        </figure>
                        <div class="featured">Öne Çıkan</div>
                        <div class="showcase">Vitrin İlanı</div>
                        <div class="user-wrapper">
                            <div class="user-profile">
                                <a href="category/pubg-mobile-hesap-satisi/55/1.html">
                                    <img class="lazy" data-original="uploads/category/55-kapak-62544063734589.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="PUBG Mobile Hesap Satışı" class="kategoriyazi" href="category/pubg-mobile-hesap-satisi/55/1.html">PUBG Mobile Hesap Satışı</a>
                            </div>
                        </div>
                    </div>
                    <a title="RANDOM HESAP 2 TL VİP " href="ilan/random-hesap-2-tl-vip-sans-kasasi/5328.html">
                        <div class="product-infos">
                            <div class="text-truncate">RANDOM HESAP 2 TL VİP ...</div>
                            <span>KASASI ŞANS KASA RANDOM HESAPLAR İLANINA...</span>
                        </div>
                        <div class="product-price">
                            <div class="price">1.99 ₺</div>
                            <div class="user-profile">
                                <div class="user-infos ilankonumla" data-toggle="tooltip" data-placement="top" title="Stilsatis">
                                    <a href="profile/Stilsatis.html"><img class="lazy aprof" height="24px" src="uploads/user/avatar/3707-18804678481736.png" alt="">Stilsatis</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>*@
    </ul>
</div>
